.row.mt-5(style="width:100%;")
    .col-12
        hr.d-none
        h1#perfilLaboral.col-12.text-center.mt-5.pt-5
            b Perfil laboral (Actualmente)
.row.align-items-center.justify-content-center.w-100
    .col-auto.align-items-center.justify-content-center
        
    .d-flex.col-sm-12.col-md-12.align-items-center.justify-content-center
        
        ul(style="list-style:none;")
            li
                h4.col-12
                    b   Desarrollador de aplicaciones móviles
                ul
                    li
                        span Aplicaciones hibridas
                        br
                        <button type="button" class="btn btn-outline-light skill-IFO-circle-icon" data-placement="top"  data-toggle="popover" tabindex="0" data-trigger="focus" title="HTML 5" data-content="<b>#{text_nivel_dev}</b>: Avanzado. <br><b>#{text_tiempo_exp}</b>: 11 años. <br><b>#{text_herramientas}</b>: <br><br> <ul><li><span>Bootstrap 4.5.x</span></li><li><span>Ionic 3 - 5</span></li></ul>" >
                            i.fab.fa-html5
                        </button>
                        <button type="button" class="btn btn-outline-light skill-IFO-circle-text" data-placement="top"  data-toggle="popover" tabindex="0" data-trigger="focus" title="SQL" data-content="<b>#{text_nivel_dev}</b>: Avanzado. <br><b>#{text_tiempo_exp}</b>: 7 años. <br><b>#{text_herramientas}</b>: <br><br> <ul><li><span>UPDATE</span></li><li><span>SELECT</span></li><li><span>INSERT INTO</span></li><li><span>DELETE</span></li><li><span>CREATE</span></li><li><span>TRIGGER</span></li><li><span>FUNCTIONS</span></li><li><span>VIEW</span></li></ul>" >
                            i.h5 SQL
                        </button>
                        <button type="button" class="btn btn-outline-light skill-IFO-circle-icon" data-placement="top"  data-toggle="popover" tabindex="0" data-trigger="focus" title="JavaScript" data-content="<b>#{text_nivel_dev}</b>: Avanzado. <br><b>#{text_tiempo_exp}</b>: 8 años. <br><b>#{text_herramientas}</b>: <br><br> <ul><li><span>JQuery</span></li><li><span>Bootstrap 4.5.x</span></li><li><span>Alertify.js</span></li><li><span>Morris.Js </span></li><li><span>Google-Charts</span></li><li> <span>Lodash</span></li></ul>" >
                            i.fab.fa-js
                        </button>
                        <button type="button" class="btn btn-outline-light skill-IFO-circle-text" data-placement="top"  data-toggle="popover" tabindex="0" data-trigger="focus" title="TypeScript" data-content="<b>#{text_nivel_dev}</b>: Avanzado. <br><b>#{text_tiempo_exp}</b>: 4 años. <br><b>#{text_herramientas}</b>: <br><br> <ul><li> <span>Angular 6 - 10</span></li><li> <span>Ionic 3 - 5  </span></li><li><span>JQuery</span></li><li><span>Bootstrap 4.5.x</span></li><li><span>Alertify.js</span></li><li><span>Morris.Js </span></li><li><span>Google-Charts</span></li><li> <span>Lodash</span></li></ul>" >
                            i.h5 TS
                        </button>
                        <button type="button" class="btn btn-outline-light skill-IFO-circle-icon" data-placement="top"  data-toggle="popover" tabindex="0" data-trigger="focus" title="Angular 6 - 10" data-content="<b>#{text_nivel_dev}</b>: Avanzado. <br><b>#{text_tiempo_exp}</b>: 4 años. <br><b>#{text_herramientas}</b>: <br><br> <ul><li><span>JQuery</span></li><li><span>Bootstrap 4.5.x</span></li><li><span>Alertify.js</span></li><li><span>Morris.Js </span></li><li><span>Google-Charts</span></li><li> <span>Lodash</span></li></ul>" >
                            i.fab.fa-angular
                        </button>
                        <button type="button" class="btn btn-outline-light skill-IFO-circle-text pb-1" data-placement="top"  data-toggle="popover" tabindex="0" data-trigger="focus" title="NodeJs" data-content="<b>#{text_nivel_dev}</b>: Avanzado. <br><b>#{text_tiempo_exp}</b>: 3 años. <br><b>#{text_herramientas}</b>: <br><br> <ul><li><span>ExpressJs</span></li><li><span>steem-uneeverso-oficial (steem.js)</span></li><li><span>moment-timezone</span></li><li><span>node-fetch</span></li><li><span>sqlite3</span></li><li><span>express-session</span></li><li><span>nodemailer</span></li><li><span>crypto (Encriptación)</span></li><li><span>Socket.io</span></li></ul>" >
                            i.h2.fab.fa-node
                        </button>
                        <button type="button" class="btn btn-outline-light skill-IFO-circle-icon" data-placement="top"  data-toggle="popover" tabindex="0" data-trigger="focus" title="PhoneGap" data-content="<b>#{text_nivel_dev}</b>: Avanzado. <br><b>#{text_tiempo_exp}</b>: 4 años. <br><b>#{text_herramientas}</b>: <br><br> <ul><li><span>framework7 (App Movíl)</span></li><li><span>JQuery</span></li><li><span>JQuery movíl	</span></li><li> <span>Plugins Cordova Apache</span></li></ul>" >
                            i.fas.fa-mobile-alt
                        </button>
                        <button type="button" class="btn btn-outline-light skill-IFO-circle-icon " data-placement="top"  data-toggle="popover" tabindex="0" data-trigger="focus" title="Ionic 3 - 5" data-content="<b>#{text_nivel_dev}</b>: Avanzado. <br><b>#{text_tiempo_exp}</b>: 4 años. <br><b>#{text_herramientas}</b>: <br><br> <ul><li><span>JQuery</span></li><li><span>Bootstrap 4.5.x</span></li><li><span>Alertify.js</span></li><li><span>Morris.Js </span></li><li><span>Google-Charts</span></li><li> <span>Lodash</span></li><li> <span>Plugins Cordova Apache</span></li></ul>" >
                            i.fas.fa-mobile-alt
                        </button>
                        <button type="button" class="btn btn-outline-light skill-IFO-circle-img" data-placement="top"  data-toggle="popover" tabindex="0" data-trigger="focus" title="MySql y MariaDB" data-content="<b>#{text_nivel_dev}</b>: Avanzado. <br><b>#{text_tiempo_exp}</b>: 8 años. <br><b>#{text_herramientas}</b>: <br><br> <ul><li>phpMyAdmin</li> </ul>" >
                            div(style="width: 48px;height: 42px;background-image:url('/img/icon/icon-mysql-white.png');background-position: center;background-size: cover;")
                        </button>
                        <button type="button" class="btn btn-outline-light skill-IFO-circle-img" data-placement="top"  data-toggle="popover" tabindex="0" data-trigger="focus" title="PostgreSQL" data-content="<b>#{text_nivel_dev}</b>: Avanzado. <br><b>#{text_tiempo_exp}</b>: 1 años. <br><b>#{text_herramientas}</b>: <br><br>  <ul><li>pgAdmin</li> </ul>" >
                            div(style="width: 36px;height: 36px;background-image:url('/img/icon/icon-postgresql.png');background-position: center;background-size: cover;margin: 0 6px;")
                        </button>                            
                        <button type="button" class="btn btn-outline-light skill-IFO-circle-img" data-placement="top"  data-toggle="popover" tabindex="0" data-trigger="focus" title="SQLite" data-content="<b>#{text_nivel_dev}</b>: Avanzado. <br><b>#{text_tiempo_exp}</b>: 2 años. <br><b>#{text_herramientas}</b>: <br><br>  <ul><li>SQLite Expert Personal</li> </ul>" >
                            div(style="width: 50px;height: 50px;background-image:url('/img/icon/icon-sqlite.png');background-position: center;background-size: cover;margin: 0 0px;")
                        </button>                                         
            li
                h4.col-12
                    b   Desarrollador web
                ul
                    li
                        span Aplicaciones web
                        br
                        <button type="button" class="btn btn-outline-light skill-IFO-circle-icon" data-placement="top"  data-toggle="popover" tabindex="0" data-trigger="focus" title="HTML 5" data-content="<b>#{text_nivel_dev}</b>: Avanzado. <br><b>#{text_tiempo_exp}</b>: 11 años. <br><b>#{text_herramientas}</b>: <br><br> <ul><li><span>Bootstrap 4.5.x</span></li><li><span>bootstrap-select</span></li></ul>" >
                            i.fab.fa-html5
                        </button>
                        <button type="button" class="btn btn-outline-light skill-IFO-circle-icon" data-placement="top"  data-toggle="popover" tabindex="0" data-trigger="focus" title="CSS 3" data-content="<b>#{text_nivel_dev}</b>: Avanzado. <br><b>#{text_tiempo_exp}</b>: 11 años. <br><b>#{text_herramientas}</b>: <br><br> <ul><li><span>Bootstrap 4.5.x</span></li><li> <span>Less</span></li><li> <span>Sass</span></li></ul>" >
                            i.fab.fa-css3-alt
                        </button>    
                        <button type="button" class="btn btn-outline-light skill-IFO-circle-text" data-placement="top"  data-toggle="popover" tabindex="0" data-trigger="focus" title="SQL" data-content="<b>#{text_nivel_dev}</b>: Avanzado. <br><b>#{text_tiempo_exp}</b>: 7 años. <br><b>#{text_herramientas}</b>: <br><br> <ul><li><span>UPDATE</span></li><li><span>SELECT</span></li><li><span>INSERT INTO</span></li><li><span>DELETE</span></li><li><span>CREATE</span></li><li><span>TRIGGER</span></li><li><span>FUNCTIONS</span></li><li><span>VIEW</span></li></ul>" >
                            i.h5 SQL
                        </button>
                        <button type="button" class="btn btn-outline-light skill-IFO-circle-icon" data-placement="top"  data-toggle="popover" tabindex="0" data-trigger="focus" title="JavaScript" data-content="<b>#{text_nivel_dev}</b>: Avanzado. <br><b>#{text_tiempo_exp}</b>: 8 años. <br><b>#{text_herramientas}</b>: <br><br> <ul><li><span>JQuery</span></li><li><span>Bootstrap 4.5.x</span></li><li><span>Alertify.js</span></li><li><span>Morris.Js </span></li><li><span>Google-Charts</span></li><li> <span>Lodash</span></li></ul>" >
                            i.fab.fa-js
                        </button>
                        <button type="button" class="btn btn-outline-light skill-IFO-circle-text" data-placement="top"  data-toggle="popover" tabindex="0" data-trigger="focus" title="TypeScript" data-content="<b>#{text_nivel_dev}</b>: Avanzado. <br><b>#{text_tiempo_exp}</b>: 4 años. <br><b>#{text_herramientas}</b>: <br><br> <ul><li> <span>Angular 6 - 10</span></li><li> <span>Ionic 3 - 5  </span></li><li><span>JQuery</span></li><li><span>Bootstrap 4.5.x</span></li><li><span>Alertify.js</span></li><li><span>Morris.Js </span></li><li><span>Google-Charts</span></li><li> <span>Lodash</span></li></ul>" >
                            i.h5 TS
                        </button>
                        <button type="button" class="btn btn-outline-light skill-IFO-circle-icon" data-placement="top"  data-toggle="popover" tabindex="0" data-trigger="focus" title="Angular 6 - 10" data-content="<b>#{text_nivel_dev}</b>: Avanzado. <br><b>#{text_tiempo_exp}</b>: 4 años. <br><b>#{text_herramientas}</b>: <br><br> <ul><li><span>JQuery</span></li><li><span>Bootstrap 4.5.x</span></li><li><span>Alertify.js</span></li><li><span>Morris.Js </span></li><li><span>Google-Charts</span></li><li> <span>Lodash</span></li></ul>" >
                            i.fab.fa-angular
                        </button>
                        <button type="button" class="btn btn-outline-light skill-IFO-circle-text pb-1" data-placement="top"  data-toggle="popover" tabindex="0" data-trigger="focus" title="NodeJs" data-content="<b>#{text_nivel_dev}</b>: Avanzado. <br><b>#{text_tiempo_exp}</b>: 3 años. <br><b>#{text_herramientas}</b>: <br><br> <ul><li><span>ExpressJs</span></li><li><span>steem-uneeverso-oficial (steem.js)</span></li><li><span>moment-timezone</span></li><li><span>node-fetch</span></li><li><span>sqlite3</span></li><li><span>express-session</span></li><li><span>nodemailer</span></li><li><span>crypto (Encriptación)</span></li><li><span>Socket.io</span></li></ul>" >
                            i.h2.fab.fa-node
                        </button>
                        <button type="button" class="btn btn-outline-light skill-IFO-circle-img" data-placement="top"  data-toggle="popover" tabindex="0" data-trigger="focus" title="MySql y MariaDB" data-content="<b>#{text_nivel_dev}</b>: Avanzado. <br><b>#{text_tiempo_exp}</b>: 8 años. <br><b>#{text_herramientas}</b>: <br><br> <ul><li>phpMyAdmin</li> </ul>" >
                            div(style="width: 48px;height: 42px;background-image:url('/img/icon/icon-mysql-white.png');background-position: center;background-size: cover;")
                        </button>
                        <button type="button" class="btn btn-outline-light skill-IFO-circle-img" data-placement="top"  data-toggle="popover" tabindex="0" data-trigger="focus" title="PostgreSQL" data-content="<b>#{text_nivel_dev}</b>: Avanzado. <br><b>#{text_tiempo_exp}</b>: 1 años. <br><b>#{text_herramientas}</b>: <br><br>  <ul><li>pgAdmin</li> </ul>" >
                            div(style="width: 36px;height: 36px;background-image:url('/img/icon/icon-postgresql.png');background-position: center;background-size: cover;margin: 0 6px;")
                        </button>                            
                        <button type="button" class="btn btn-outline-light skill-IFO-circle-img" data-placement="top"  data-toggle="popover" tabindex="0" data-trigger="focus" title="SQLite" data-content="<b>#{text_nivel_dev}</b>: Avanzado. <br><b>#{text_tiempo_exp}</b>: 2 años. <br><b>#{text_herramientas}</b>: <br><br>  <ul><li>SQLite Expert Personal</li> </ul>" >
                            div(style="width: 50px;height: 50px;background-image:url('/img/icon/icon-sqlite.png');background-position: center;background-size: cover;margin: 0 0px;")
                        </button>                        
                    li
                        span Paginas web
                        br
                        <button type="button" class="btn btn-outline-light skill-IFO-circle-text" data-placement="top"  data-toggle="popover" tabindex="0" data-trigger="focus" title="XML" data-content="<b>#{text_nivel_dev}</b>: Intermedio. <br><b>#{text_tiempo_exp}</b>: 2 años. <br><b>#{text_herramientas}</b>: <br><br> <ul><li> <span>Sitemap</span></li><li> <span>RSS</span></li><li> <span>Estructura para JavaFX</span></li></ul>" >
                            i.h5 XML
                        </button>
                        <button type="button" class="btn btn-outline-light skill-IFO-circle-icon" data-placement="top"  data-toggle="popover" tabindex="0" data-trigger="focus" title="HTML 5" data-content="<b>#{text_nivel_dev}</b>: Avanzado. <br><b>#{text_tiempo_exp}</b>: 11 años. <br><b>#{text_herramientas}</b>: <br><br> <ul><li><span>Bootstrap 4.5.x</span></li><li><span>bootstrap-select</span></li><li><span>Jade</span></li><li><span>Pug</span></li></ul>" >
                            i.fab.fa-html5
                        </button>
                        <button type="button" class="btn btn-outline-light skill-IFO-circle-icon" data-placement="top"  data-toggle="popover" tabindex="0" data-trigger="focus" title="CSS 3" data-content="<b>#{text_nivel_dev}</b>: Avanzado. <br><b>#{text_tiempo_exp}</b>: 11 años. <br><b>#{text_herramientas}</b>: <br><br> <ul><li><span>Bootstrap 4.5.x</span></li><li> <span>Less</span></li><li> <span>Sass</span></li></ul>" >
                            i.fab.fa-css3-alt
                        </button> 
                        <button type="button" class="btn btn-outline-light skill-IFO-circle-text" data-placement="top"  data-toggle="popover" tabindex="0" data-trigger="focus" title="SQL" data-content="<b>#{text_nivel_dev}</b>: Avanzado. <br><b>#{text_tiempo_exp}</b>: 7 años. <br><b>#{text_herramientas}</b>: <br><br> <ul><li><span>UPDATE</span></li><li><span>SELECT</span></li><li><span>INSERT INTO</span></li><li><span>DELETE</span></li><li><span>CREATE</span></li><li><span>TRIGGER</span></li><li><span>FUNCTIONS</span></li><li><span>VIEW</span></li></ul>" >
                            i.h5 SQL
                        </button>
                        <button type="button" class="btn btn-outline-light skill-IFO-circle-icon" data-placement="top"  data-toggle="popover" tabindex="0" data-trigger="focus" title="JavaScript" data-content="<b>#{text_nivel_dev}</b>: Avanzado. <br><b>#{text_tiempo_exp}</b>: 8 años. <br><b>#{text_herramientas}</b>: <br><br> <ul><li><span>JQuery</span></li><li><span>Bootstrap 4.5.x</span></li><li><span>Alertify.js</span></li><li><span>Morris.Js </span></li><li><span>Google-Charts</span></li><li> <span>Lodash</span></li></ul>" >
                            i.fab.fa-js
                        </button>
                        <button type="button" class="btn btn-outline-light skill-IFO-circle-text pb-1" data-placement="top"  data-toggle="popover" tabindex="0" data-trigger="focus" title="NodeJs" data-content="<b>#{text_nivel_dev}</b>: Avanzado. <br><b>#{text_tiempo_exp}</b>: 3 años. <br><b>#{text_herramientas}</b>: <br><br> <ul><li><span>ExpressJs</span></li><li><span>steem-uneeverso-oficial (steem.js)</span></li><li><span>moment-timezone</span></li><li><span>node-fetch</span></li><li><span>sqlite3</span></li><li><span>express-session</span></li><li><span>nodemailer</span></li><li><span>crypto (Encriptación)</span></li><li><span>Socket.io</span></li></ul>" >
                            i.h2.fab.fa-node
                        </button>
                        <button type="button" class="btn btn-outline-light skill-IFO-circle-img" data-placement="top"  data-toggle="popover" tabindex="0" data-trigger="focus" title="MySql y MariaDB" data-content="<b>#{text_nivel_dev}</b>: Avanzado. <br><b>#{text_tiempo_exp}</b>: 8 años. <br><b>#{text_herramientas}</b>: <br><br> <ul><li>phpMyAdmin</li> </ul>" >
                            div(style="width: 48px;height: 42px;background-image:url('/img/icon/icon-mysql-white.png');background-position: center;background-size: cover;")
                        </button>
                        <button type="button" class="btn btn-outline-light skill-IFO-circle-img" data-placement="top"  data-toggle="popover" tabindex="0" data-trigger="focus" title="PostgreSQL" data-content="<b>#{text_nivel_dev}</b>: Avanzado. <br><b>#{text_tiempo_exp}</b>: 1 años. <br><b>#{text_herramientas}</b>: <br><br>  <ul><li>pgAdmin</li> </ul>" >
                            div(style="width: 36px;height: 36px;background-image:url('/img/icon/icon-postgresql.png');background-position: center;background-size: cover;margin: 0 6px;")
                        </button>
            li
                h4.col-12
                    b   Información para empresas
                ul
                    li
                        span Disponibilidad : Inmediata
                    li
                        span Modalidad laboral : Home Office, con disposición a viajar luego de un tiempo.
                    li
                        span Pretensiones salariales : Entre 500 USD y 3500 USD Mensual/Bruto. Negociable.
                    li
                        span Opciones preferenciales para recibir pago: Paypal, Bitcoin y Ethereum.

