- var text_herramientas = "Herramientas / Utilidades"
- var text_tiempo_exp = "Tiempo de experiencia"
- var text_nivel_dev = "Nivel de desarrollo"

h1#conocimientos.col-12.text-center.mt-5.pt-5
    b Conocimientos
.proyectos-contenido.col-12.mt-1.mb-5.row.pr-2.align-items-center.justify-content-center

        #conocimientos-colorfont.row.col-sm-12.col-md-9
            .col-12

                
                .row.mt-5
                    .col-sm-12.col-md-6.align-items-center.justify-content-center
                        h3.text-center
                            b.label.label-default Software de control de versiones 
                        <div class="container text-center">

                            <button type="button" class="btn btn-outline-light skill-IFO-circle-icon" data-placement="top"  data-toggle="popover" tabindex="0" data-trigger="focus" title="Git - GitHub" data-content="<b>#{text_tiempo_exp}</b>: 5 años. <br><b>#{text_nivel_dev}</b>: 10 ." >
                                i.fab.fa-github
                            </button>
                            <button type="button" class="btn btn-outline-light skill-IFO-circle-icon" data-placement="top"  data-toggle="popover" tabindex="0" data-trigger="focus" title="Git - BitBucket" data-content="<b>#{text_tiempo_exp}</b>: 5 años. <br><b>#{text_nivel_dev}</b>: 8 ." >
                                i.fab.fa-bitbucket
                            </button>                            

                        </div>
                        .w-100.h6.mt-1.text-center
                            span Tocar para ver información
                    .d-none.d-sm-block.col-1.row.align-items-center.justify-content-center
                        <i class="fas fa-hand-point-right" style="font-size: xxx-large;font-weight: normal;"></i>
                    .col-sm-12.col-md-5.align-items-center.justify-content-center(style="text-align: justify;")
                        span.text-description Comence a usarlos para investigar codigo, a los 17 años de edad. Y empece a subir codigo, a los 19 años. Actualmente tengo almacenado codigos de proyectos personales y colocare los proyectos que sean posibles de colocar publicos, como muestra de mi codificación.
                    
                .row.mt-5
                    .d-none.d-sm-block.col-sm-12.pr-5.col-md-5.row.align-items-center.justify-content-center(style="text-align: justify;")
                        span.text-description Con estos lenguajes de desarrollo, he aprendido a desarrollar para plataformas de escritorios, moviles, y web. Como desarrollador Front-END y Back-END.
                    .d-none.d-sm-block.col-1.row.align-items-center.justify-content-center
                        <i class="fas fa-hand-point-left" style="font-size: xxx-large;font-weight: normal;"></i>
                    .col-sm-12.col-md-6.align-items-center.justify-content-center
                        h3.text-center
                            b.label.label-default Lenguajes / Frameworks
                            br
                            b.label.label-default de desarrollo de software
                        <div class="container text-center">

                            <button type="button" class="btn btn-outline-light skill-IFO-circle-icon" data-placement="top"  data-toggle="popover" tabindex="0" data-trigger="focus" title="C / C++" data-content="<b>#{text_nivel_dev}</b>: Básico. <br><b>#{text_tiempo_exp}</b>: 1 año." >
                                i.fas.fa-copyright
                            </button>
                            <button type="button" class="btn btn-outline-light skill-IFO-circle-text" data-placement="top"  data-toggle="popover" tabindex="0" data-trigger="focus" title="XML" data-content="<b>#{text_nivel_dev}</b>: Intermedio. <br><b>#{text_tiempo_exp}</b>: 2 años. <br><b>#{text_herramientas}</b>: <br><br> <ul><li> <span>Sitemap</span></li><li> <span>RSS</span></li><li> <span>Estructura para JavaFX</span></li></ul>" >
                                i.h5 XML
                            </button>
                            <button type="button" class="btn btn-outline-light skill-IFO-circle-icon" data-placement="top"  data-toggle="popover" tabindex="0" data-trigger="focus" title="HTML 5" data-content="<b>#{text_nivel_dev}</b>: Avanzado. <br><b>#{text_tiempo_exp}</b>: 11 años. <br><b>#{text_herramientas}</b>: <br><br> <ul><li><span>Bootstrap 4.5.x</span></li><li><span>bootstrap-select</span></li><li><span>Jade</span></li><li><span>Pug</span></li></ul>" >
                                i.fab.fa-html5
                            </button>
                            <button type="button" class="btn btn-outline-light skill-IFO-circle-icon" data-placement="top"  data-toggle="popover" tabindex="0" data-trigger="focus" title="CSS 3" data-content="<b>#{text_nivel_dev}</b>: Avanzado. <br><b>#{text_tiempo_exp}</b>: 11 años. <br><b>#{text_herramientas}</b>: <br><br> <ul><li><span>Bootstrap 4.5.x</span></li><li> <span>Less</span></li><li> <span>Sass</span></li></ul>" >
                                i.fab.fa-css3-alt
                            </button>
                            <button type="button" class="btn btn-outline-light skill-IFO-circle-icon" data-placement="top"  data-toggle="popover" tabindex="0" data-trigger="focus" title="Java" data-content="<b>#{text_nivel_dev}</b>: Avanzado. <br><b>#{text_tiempo_exp}</b>: 1 año. <br><b>#{text_herramientas}</b>: <br><br> <ul><li><span>iReport</span></li></ul>" >
                                i.fab.fa-java
                            </button>
                            <button type="button" class="btn btn-outline-light skill-IFO-circle-icon" data-placement="top"  data-toggle="popover" tabindex="0" data-trigger="focus" title="JavaFX" data-content="<b>#{text_nivel_dev}</b>: Avanzado. <br><b>#{text_tiempo_exp}</b>: 1 año. " >
                                i.fab.fa-java
                            </button>
                            <button type="button" class="btn btn-outline-light skill-IFO-circle-text pb-1" data-placement="top"  data-toggle="popover" tabindex="0" data-trigger="focus" title="PHP (5.4 - 7.1)" data-content="<b>#{text_nivel_dev}</b>: Avanzado. <br><b>#{text_tiempo_exp}</b>: 5 años. <br><b>#{text_herramientas}</b>: <br><br> <ul><li><span>Laravel 5.0</span></li><li><span>PDO</span></li><li><span>DOMPDF</span></li><li><span>Php-jwt (Encriptación)</span></li></ul>" >
                                i.h2.fab.fa-php
                            </button>
                            <button type="button" class="btn btn-outline-light skill-IFO-circle-text" data-placement="top"  data-toggle="popover" tabindex="0" data-trigger="focus" title="SQL" data-content="<b>#{text_nivel_dev}</b>: Avanzado. <br><b>#{text_tiempo_exp}</b>: 7 años. <br><b>#{text_herramientas}</b>: <br><br> <ul><li><span>UPDATE</span></li><li><span>SELECT</span></li><li><span>INSERT INTO</span></li><li><span>DELETE</span></li><li><span>CREATE</span></li><li><span>TRIGGER</span></li><li><span>FUNCTIONS</span></li><li><span>VIEW</span></li></ul>" >
                                i.h5 SQL
                            </button>
                            <button type="button" class="btn btn-outline-light skill-IFO-circle-icon" data-placement="top"  data-toggle="popover" tabindex="0" data-trigger="focus" title="JavaScript" data-content="<b>#{text_nivel_dev}</b>: Avanzado. <br><b>#{text_tiempo_exp}</b>: 8 años. <br><b>#{text_herramientas}</b>: <br><br> <ul><li><span>JQuery</span></li><li><span>Bootstrap 4.5.x</span></li><li><span>Alertify.js</span></li><li><span>Morris.Js </span></li><li><span>Google-Charts</span></li><li> <span>Lodash</span></li></ul>" >
                                i.fab.fa-js
                            </button>
                            <button type="button" class="btn btn-outline-light skill-IFO-circle-text" data-placement="top"  data-toggle="popover" tabindex="0" data-trigger="focus" title="TypeScript" data-content="<b>#{text_nivel_dev}</b>: Avanzado. <br><b>#{text_tiempo_exp}</b>: 4 años. <br><b>#{text_herramientas}</b>: <br><br> <ul><li> <span>Angular 6 - 10</span></li><li> <span>Ionic 3 - 5  </span></li><li><span>JQuery</span></li><li><span>Bootstrap 4.5.x</span></li><li><span>Alertify.js</span></li><li><span>Morris.Js </span></li><li><span>Google-Charts</span></li><li> <span>Lodash</span></li></ul>" >
                                i.h5 TS
                            </button>
                            <button type="button" class="btn btn-outline-light skill-IFO-circle-icon" data-placement="top"  data-toggle="popover" tabindex="0" data-trigger="focus" title="Angular 6 - 10" data-content="<b>#{text_nivel_dev}</b>: Avanzado. <br><b>#{text_tiempo_exp}</b>: 4 años. <br><b>#{text_herramientas}</b>: <br><br> <ul><li><span>JQuery</span></li><li><span>Bootstrap 4.5.x</span></li><li><span>Alertify.js</span></li><li><span>Morris.Js </span></li><li><span>Google-Charts</span></li><li> <span>Lodash</span></li></ul>" >
                                i.fab.fa-angular
                            </button>
                            <button type="button" class="btn btn-outline-light skill-IFO-circle-text pb-1" data-placement="top"  data-toggle="popover" tabindex="0" data-trigger="focus" title="NodeJs" data-content="<b>#{text_nivel_dev}</b>: Avanzado. <br><b>#{text_tiempo_exp}</b>: 3 años. <br><b>#{text_herramientas}</b>: <br><br> <ul><li><span>ExpressJs</span></li><li><span>steem-uneeverso-oficial (steem.js)</span></li><li><span>moment-timezone</span></li><li><span>node-fetch</span></li><li><span>sqlite3</span></li><li><span>express-session</span></li><li><span>nodemailer</span></li><li><span>crypto (Encriptación)</span></li><li><span>Socket.io</span></li></ul>" >
                                i.h2.fab.fa-node
                            </button>
                            <button type="button" class="btn btn-outline-light skill-IFO-circle-icon" data-placement="top"  data-toggle="popover" tabindex="0" data-trigger="focus" title="PhoneGap" data-content="<b>#{text_nivel_dev}</b>: Avanzado. <br><b>#{text_tiempo_exp}</b>: 4 años. <br><b>#{text_herramientas}</b>: <br><br> <ul><li><span>framework7 (App Movíl)</span></li><li><span>JQuery</span></li><li><span>JQuery movíl	</span></li><li> <span>Plugins Cordova Apache</span></li></ul>" >
                                i.fas.fa-mobile-alt
                            </button>
                            <button type="button" class="btn btn-outline-light skill-IFO-circle-icon " data-placement="top"  data-toggle="popover" tabindex="0" data-trigger="focus" title="Ionic 3 - 5" data-content="<b>#{text_nivel_dev}</b>: Avanzado. <br><b>#{text_tiempo_exp}</b>: 4 años. <br><b>#{text_herramientas}</b>: <br><br> <ul><li><span>JQuery</span></li><li><span>Bootstrap 4.5.x</span></li><li><span>Alertify.js</span></li><li><span>Morris.Js </span></li><li><span>Google-Charts</span></li><li> <span>Lodash</span></li><li> <span>Plugins Cordova Apache</span></li></ul>" >
                                i.fas.fa-mobile-alt
                            </button>

                        </div>
                        .w-100.h6.mt-1.text-center
                            span Tocar para ver información
                    .d-block.d-sm-none.col-sm-12.col-md-5.row.align-items-center.justify-content-center(style="text-align: justify;")
                        span.text-description Con estos lenguajes de desarrollo, he aprendido a desarrollar para plataformas de escritorios, moviles, y web. Como desarrollador Front-END y Back-END.



                .row.mt-5
                    .col-sm-12.col-md-6.align-items-center.justify-content-center
                        h3.text-center
                            b.label.label-default Gestores de bases de datos
                        <div class="container text-center">

                            <button type="button" class="btn btn-outline-light skill-IFO-circle-img" data-placement="top"  data-toggle="popover" tabindex="0" data-trigger="focus" title="MySql y MariaDB" data-content="<b>#{text_nivel_dev}</b>: Avanzado. <br><b>#{text_tiempo_exp}</b>: 8 años. <br><b>#{text_herramientas}</b>: <br><br> <ul><li>phpMyAdmin</li> </ul>" >
                                div(style="width: 48px;height: 42px;background-image:url('/img/icon/icon-mysql-white.png');background-position: center;background-size: cover;")
                            </button>
                            <button type="button" class="btn btn-outline-light skill-IFO-circle-img" data-placement="top"  data-toggle="popover" tabindex="0" data-trigger="focus" title="PostgreSQL" data-content="<b>#{text_nivel_dev}</b>: Avanzado. <br><b>#{text_tiempo_exp}</b>: 1 años. <br><b>#{text_herramientas}</b>: <br><br>  <ul><li>pgAdmin</li> </ul>" >
                                div(style="width: 36px;height: 36px;background-image:url('/img/icon/icon-postgresql.png');background-position: center;background-size: cover;margin: 0 6px;")
                            </button>                            
                            <button type="button" class="btn btn-outline-light skill-IFO-circle-img" data-placement="top"  data-toggle="popover" tabindex="0" data-trigger="focus" title="SQLite" data-content="<b>#{text_nivel_dev}</b>: Avanzado. <br><b>#{text_tiempo_exp}</b>: 2 años. <br><b>#{text_herramientas}</b>: <br><br>  <ul><li>SQLite Expert Personal</li> </ul>" >
                                div(style="width: 50px;height: 50px;background-image:url('/img/icon/icon-sqlite.png');background-position: center;background-size: cover;margin: 0 0px;")
                            </button>

                        </div>
                        .w-100.h6.mt-1.text-center
                            span Tocar para ver información
                    .d-none.d-sm-block.col-1.row.align-items-center.justify-content-center
                        <i class="fas fa-hand-point-right" style="font-size: xxx-large;font-weight: normal;"></i>
                    .col-sm-12.col-md-5.row.align-items-center.justify-content-center(style="text-align: justify;")
                        span.text-description En la mayoria de los proyectos he usado MySql y MariaDB, sin embargo no se me dificulta usar PostgreSql y SQLite. SQLite lo use en UNEEVERSO para evitarme un gasto mayor en un ambiente de MySql/MariaDB. Tambien he llegado a usar en medios laborales base de datos no relacionales como MongoDB y Firebase, pero no han sido de mi prefrerencia. 

                .row.mt-5
                    .d-none.d-sm-block.col-sm-12.pr-5.col-md-5.row.align-items-center.justify-content-center(style="text-align: justify;")
                        span.text-description Los CMS no son de mi preferencia, siempre he tendido a querer aprender a desarrollar proyectos con una escalabilidad constante. Pero, he tenido muy buenas experiencias con los CMS como Blogger y Wordpress, los cuales me permitieron adquirir grandes experiencias al comenzar a ser desarrollador y gestor de publicidad.
                    .d-none.d-sm-block.col-1.row.align-items-center.justify-content-center
                        <i class="fas fa-hand-point-left" style="font-size: xxx-large;font-weight: normal;"></i> 
                    .col-sm-12.col-md-6.align-items-center.justify-content-center
                        h3.text-center
                            b.label.label-default Sistemas de gestión de contenido (CMS)
                        <div class="container text-center">

                            <button type="button" class="btn btn-outline-light skill-IFO-circle-icon" data-placement="top"  data-toggle="popover" tabindex="0" data-trigger="focus" title="Blogger" data-content="<b>#{text_nivel_dev}</b>: Avanzado." >
                                i.fab.fa-blogger
                            </button>
                            <button type="button" class="btn btn-outline-light skill-IFO-circle-icon" data-placement="top"  data-toggle="popover" tabindex="0" data-trigger="focus" title="Wordpress" data-content="<b>#{text_nivel_dev}</b>: Avanzado." >
                                i.fab.fa-wordpress-simple
                            </button>
                            <button type="button" class="btn btn-outline-light skill-IFO-circle-text p-0 pb-5" data-placement="top"  data-toggle="popover" tabindex="0" data-trigger="focus" title="PHPost" data-content="<b>#{text_nivel_dev}</b>: Avanzado." >
                                label.h6(style="width: auto;height: 40px;") PHPost
                            </button>

                        </div>
                        .w-100.h6.mt-1.text-center
                            span Tocar para ver información
                    .d-block.d-sm-none.col-sm-12.col-md-5.row.align-items-center.justify-content-center(style="text-align: justify;")
                        span.text-description Los CMS no son de mi preferencia, siempre he tendido a querer aprender a desarrollar proyectos con una escalabilidad constante. Pero, he tenido muy buenas experiencias con los CMS como Blogger y Wordpress, los cuales me permitieron adquirir grandes experiencias al comenzar a ser desarrollador y gestor de publicidad.

                .row.mt-5
                    .col-sm-12.col-md-6.align-items-center.justify-content-center
                        h3.text-center
                            b.label.label-default Entornos de desarrollo de software (IDE's)
                        <div class="container text-center">

                            <button type="button" class="btn btn-outline-light skill-IFO-circle-img" data-placement="top"  data-toggle="popover" tabindex="0" data-trigger="focus" title="Sublime Text 3" data-content="<b>#{text_nivel_dev}</b>: Avanzado." >
                                div(style="width: 50px;height: 50px;background-image:url('/img/icon/icon-sublimetext3.png');background-position: center;background-size: cover;margin: 0 0px;")
                            </button>
                            <button type="button" class="btn btn-outline-light skill-IFO-circle-img" data-placement="top"  data-toggle="popover" tabindex="0" data-trigger="focus" title="NetBeans" data-content="<b>#{text_nivel_dev}</b>: Avanzado." >
                                div(style="width: 50px;height: 50px;background-image:url('/img/icon/icon-netbeans.png');background-position: center;background-size: cover;margin: 0 0px;")
                            </button>
                            <button type="button" class="btn btn-outline-light skill-IFO-circle-img" data-placement="top"  data-toggle="popover" tabindex="0" data-trigger="focus" title="Scene Builder" data-content="<b>#{text_nivel_dev}</b>: Avanzado." >
                                div(style="width: 50px;height: 50px;background-image:url('/img/icon/icon-scenebuilder.png');background-position: center;background-size: cover;margin: 0 0px;")
                            </button>
                            <button type="button" class="btn btn-outline-light skill-IFO-circle-img" data-placement="top"  data-toggle="popover" tabindex="0" data-trigger="focus" title="Android Studio" data-content="<b>#{text_nivel_dev}</b>: Intermedio." >
                                div(style="width: 50px;height: 50px;background-image:url('/img/icon/icon-androidstudio.png');background-position: center;background-size: cover;margin: 0 0px;")
                            </button>
                            <button type="button" class="btn btn-outline-light skill-IFO-circle-img" data-placement="top"  data-toggle="popover" tabindex="0" data-trigger="focus" title="Visual Studio Code" data-content="<b>#{text_nivel_dev}</b>: Avanzado." >
                                div(style="width: 50px;height: 50px;background-image:url('/img/icon/icon-visualstudiocode.png');background-position: center;background-size: cover;margin: 0 0px;")
                            </button>                            
                            <button type="button" class="btn btn-outline-light skill-IFO-circle-text p-0 pb-5" data-placement="top"  data-toggle="popover" tabindex="0" data-trigger="focus" title="Iconix" data-content="<b>#{text_tiempo_exp}</b>: 2 años. <br><b>#{text_nivel_dev}</b>: 2 ." >
                                i.h6 DevC++
                            </button>

                        </div>
                        .w-100.h6.mt-1.text-center
                            span Tocar para ver información
                    .d-none.d-sm-block.col-1.row.align-items-center.justify-content-center
                        <i class="fas fa-hand-point-right" style="font-size: xxx-large;font-weight: normal;"></i>
                    .col-sm-12.col-md-5.row.align-items-center.justify-content-center(style="text-align: justify;")
                        span.text-description Cada IDE ha sido importante para mi, pero en especial Sublime Text el cual es el primero que use y luego cambie de IDE principal a Visual Studio Code. 
                
                .row.mt-5
                    .d-none.d-sm-block.col-sm-12.pr-5.col-md-5.row.align-items-center.justify-content-center(style="text-align: justify;")
                        span.text-description Iconix y RUP fueron metodologias de desarrollo que utilice en la universidad. Iconix en 2 proyectos y RUP en 1. XP y SCRUM fueron metodologias de desarrollo que comence a utilizar mucho antes de entrar en la universidad, con la peculiaridad que no estaba consciente que las usaba hasta que comencé la etapa empresarial.
                    .d-none.d-sm-block.col-1.row.align-items-center.justify-content-center
                        <i class="fas fa-hand-point-left" style="font-size: xxx-large;font-weight: normal;"></i>
                    .col-sm-12.col-md-6.align-items-center.justify-content-center
                        h3.text-center
                            b.label.label-default Metodologias de desarrollo de software
                        <div class="container text-center">

                            <button type="button" class="btn btn-outline-light skill-IFO-circle-text p-0 pb-5" data-placement="top"  data-toggle="popover" tabindex="0" data-trigger="focus" title="Iconix" data-content="<b>#{text_tiempo_exp}</b>: 2 años. <br><b>#{text_nivel_dev}</b>: 2 ." >
                                i.h6 Iconix
                            </button>
                            <button type="button" class="btn btn-outline-light skill-IFO-circle-text p-0 pb-5" data-placement="top"  data-toggle="popover" tabindex="0" data-trigger="focus" title="Rup" data-content="<b>#{text_tiempo_exp}</b>: 1 años. <br><b>#{text_nivel_dev}</b>: 1 ." >
                                i.h6 Rup
                            </button>
                            <button type="button" class="btn btn-outline-light skill-IFO-circle-text p-0 pb-5" data-placement="top"  data-toggle="popover" tabindex="0" data-trigger="focus" title="Xp" data-content="<b>#{text_tiempo_exp}</b>: 1 años. <br><b>#{text_nivel_dev}</b>: 3 ." >
                                i.h6 Xp
                            </button>
                            <button type="button" class="btn btn-outline-light skill-IFO-circle-text p-0 pb-5" data-placement="top"  data-toggle="popover" tabindex="0" data-trigger="focus" title="Scrum" data-content="<b>#{text_tiempo_exp}</b>: 11 años. <br><b>#{text_nivel_dev}</b>: 8 ." >
                                i.h6 Scrum
                            </button>                            

                        </div>
                        .w-100.h6.mt-1.text-center
                            span Tocar para ver información
                    .d-block.d-sm-none.col-sm-12.col-md-5.row.align-items-center.justify-content-center(style="text-align: justify;")
                        span.text-description Iconix y RUP fueron metodologias de desarrollo que utilice en la universidad. Iconix en 2 proyectos y RUP en 1. XP y SCRUM fueron metodologias de desarrollo que comence a utilizar mucho antes de entrar en la universidad, con la peculiaridad que no estaba consciente que las usaba hasta que comencé la etapa empresarial.

                .row.mt-5
                    .col-sm-12.col-md-6.align-items-center.justify-content-center
                        h3.text-center
                            b.label.label-default Publicidad
                        <div class="container text-center">

                            <button type="button" class="btn btn-outline-light skill-IFO-circle-text p-0 pb-5" data-placement="top"  data-toggle="popover" tabindex="0" data-trigger="focus" title="SEO" data-content="<b>#{text_tiempo_exp}</b>: 6 años. <br><b>#{text_nivel_dev}</b>: 8 ." >
                                i.h6 SEO
                            </button>
                            <button type="button" class="btn btn-outline-light skill-IFO-circle-text p-0 pb-5" data-placement="top"  data-toggle="popover" tabindex="0" data-trigger="focus" title="Social marketing" data-content="<b>#{text_tiempo_exp}</b>: 5 años. <br><b>#{text_nivel_dev}</b>: 5 ." >
                                i.h6 S M
                            </button>
                            <button type="button" class="btn btn-outline-light skill-IFO-circle-text p-0 pb-5" data-placement="top"  data-toggle="popover" tabindex="0" data-trigger="focus" title="Email marketing" data-content="<b>#{text_tiempo_exp}</b>: 3 años. <br><b>#{text_nivel_dev}</b>: 3 ." >
                                i.h6 E M
                            </button>

                        </div>
                        .w-100.h6.mt-1.text-center
                            span Tocar para ver información
                    .d-none.d-sm-block.col-1.row.align-items-center.justify-content-center
                        <i class="fas fa-hand-point-right" style="font-size: xxx-large;font-weight: normal;"></i>
                    .col-sm-12.col-md-5.row.align-items-center.justify-content-center(style="text-align: justify;")
                        span.text-description He aplicado cada una de estas habilidades en distintas etapas de mi vida. Desde la epoca que trabaje con Blogger con 5000 visitas diarias, con una fan page de 30.000 likes y un alcance de 130.000 personas, cuando fuí CEO de UNEEVERSO llevando su alexa a 600.000 y planteando estrategia de marketing preparadas para Caida Online. Etc..
                
                .row.mt-5
                    .d-none.d-sm-block.col-sm-12.pr-5.col-md-5.row.align-items-center.justify-content-center(style="text-align: justify;")
                        span.text-description El método Lean Startup me ha permitido aprender de diversas cosas, como lo es: El Pivote de un proyecto, la creacion y el uso de un proyecto minimo viable, el planteamiendo de pruebas con usuarios, el estudio de datos obtenidos por pruebas y más.
                    .d-none.d-sm-block.col-1.row.align-items-center.justify-content-center
                        <i class="fas fa-hand-point-left" style="font-size: xxx-large;font-weight: normal;"></i>
                    .col-sm-12.col-md-6.align-items-center.justify-content-center
                        h3.text-center
                            b.label.label-default Lectura de libros de crecimiento profesional
                        .container
                            ul
                                li
                                    span El método Lean Startup de Eric Ries
                    .d-block.d-sm-none.col-sm-12.col-md-5.row.align-items-center.justify-content-center(style="text-align: justify;")
                        span.text-description El método Lean Startup me ha permitido aprender de diversas cosas, como lo es: El Pivote de un proyecto, la creacion y el uso de un proyecto minimo viable, el planteamiendo de pruebas con usuarios, el estudio de datos obtenidos por pruebas y más.
