doctype html
html
  head
    <title>#{title}</title>
    <meta name="description" content="#{descripcion_page}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="#{autor_page}">

    <meta property="og:url" content="https://ingfranciscoordonez.opoinf.com">
    <meta property="og:type" content="website">
    <meta property="og:title" content="#{autor_page}">
    <meta property="og:description" content="#{descripcion_page}">
    <meta property="og:image" content="https://ingfranciscoordonez.opoinf.com/img/portada_portafolio.png"> 

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@opoinffrancisco">
    <meta name="twitter:creator" content="@opoinffrancisco">
    <meta name="twitter:title" content="#{autor_page}">
    <meta name="twitter:description" content="#{descripcion_page}">
    <meta name="twitter:image" content="https://ingfranciscoordonez.opoinf.com/img/portada_portafolio.png"> 



    <!-- Favicons -->
    <link rel="icon" href="/img/favicon.png" sizes="32x32" type="image/png">
    link(rel="shortcut icon",href="/img/favicon-if.png",type="image/x-icon")

    <!-- Bootstrap core CSS -->
    //<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">


    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous")
    <!-- Custom styles for this template -->
    link(rel='stylesheet' href='/css/estilo.css')
    link(rel='stylesheet' href='/css/style-responsive.css')
    link(rel='stylesheet' href='/css/style-animation.css')

    <!--Otros-->
    //<link rel="manifest" href="/docs/4.5/assets/img/favicons/manifest.json">
    //<meta name="msapplication-config" content="/docs/4.5/assets/img/favicons/browserconfig.xml">
    <!--Animaciones-->
    <script src="https://js.cx/libs/animate.js"></script>
    
  block content
     
  footer
    .row(style="background: #f8f8f8;color: #057fb3;padding:  10px;")
      .col-md-12
        center 
          h3 Ing.Francisco.Ordoñez  | OPOINF &#9400;

  block java_script
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>    
   
    <script src="/js/funciones.js"></script>
    
    
